/*ボックス全体*/
.accbox {
    margin: 2em 0;
    padding: 0;
    max-width: 400px;/*最大幅*/
}

/*ラベル*/
.accbox label {
    display: block;
    margin: 1.5px 0;
    padding : 13px 12px;

    font-weight: bold;
    cursor :pointer;
    transition: all 0.5s;
}

/*アイコンを表示*/
.accbox label:after {
  /*  content: '\f054';
    font-family: 'FontAwesome';
    padding-right: 8px;*/
}

/*ラベルホバー時*/
/*.accbox label:hover {
    background :#ffe9a9;
    }*/

    /*チェックは隠す*/
    .accbox input {
        display: none;
    }

    /*中身を非表示にしておく*/
    .accbox .accshow {
        height: 0;
        padding: 0;
        overflow: hidden;
        opacity: 0;
        transition: 0.8s;
    }

    /*クリックで中身表示*/
    .cssacc:checked + label + .accshow {
        height: auto;
        padding: 5px;
        opacity: 1;
        background-color: #4D5D7C;
    }

    .accbox .accshow p {
        margin: 15px 10px}

        /*アイコンを入れ替える*/
        .cssacc:checked + label:after {
           /* content: '\f078';*/
       }
       .accshow>li{
        margin-bottom: 10px;
       }
       .accshow>li:before{
        margin: 0 10px;
        content:">";
    }
    .accshow>li>a{
     color: #FFFFFF;
     text-decoration: none;
 }