.App {
  text-align: center;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.adminBar{
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #eeeff0;
  color: black;
  align-items: center;
  height: 40px;
  font-size: 15px;
  white-space: nowrap;
}
.adminBar>.userName{
  left: 0;
  flex: 4 1;
  text-align: left;
  margin-left: 10px;

}
.adminBar>.rightAdmin{
  display: flex;
  flex: 6;
  justify-content: flex-end;
  margin-right: 10px;
}
.rightAdmin>a{
  color: black;
  text-decoration: none;
  margin-right: 10px;
}
.adminIcon{
 background-color: #FFFFFF;
 border-radius: 4px;
 padding: 3px 7px;
 height: 16px;
 width: 100px;
 justify-content: center;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-align: center;
 align-items: center;
}

.adminIcon>a{
 color: black;
 text-decoration: none;
 display: flex;
 height: 100%;
 align-items: center;
}
.adminIcon>a>span{
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: #E25627;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 1px;
  color: white;
}

header {
  background-color: #FFFFFF;
  height: 30px;
  padding: 20px;
  color: white;
  margin-top: 105px;
  justify-content: center;
  align-items: center;
  display: flex;
}
/*
.App-title {
  font-size: 1.5em;
  color: black;
}

.App-intro {
  font-size: large;
  }*/


  /*menuBar*/
  .menuContainer {
    background-color: #283245;
    color: #FFFFFF;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
    margin-top: 40px;
  }
  .menuBar{
    width: 1000px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
  }

  .menu{
    padding: 0 4.8%;
    border-left: thin solid #FFFFFF;
    font-size: 13px;
    white-space: nowrap;
  }

  .endMenu{
    border-right: thin solid #FFFFFF;
    position: relative;
  }
  .endMenu>span{
    border-radius: 50%;
    padding: 5px 8px;
    background-color: #E25627;
  }
  .searchWrapper{
    background-color: #EEEFF0;
    height: 80px;
    display: flex;
    justify-content: center;
  }
  .searchContainer{
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .searchContainer >.searchBar {
    background: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 8px;
    flex:3;
    height: 40px;
    display: flex;
    margin-right: 1%;
  }
  .searchBar>input{
    background:none;
    border:none;
    flex:9;
    padding-left: 10px;
  }

  .searchBar>button{
    border:none;
    border-radius: 0 8px 8px 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: black;
    flex: 1;
  }

  .searchContainer >.searchButton {

    /* Rectangle: */
    background: black;
    border: 1px solid #979797;

    height: 40px;
  }


  .searchContainer>.tag {
    background-color: rgba(118, 119, 120, 0.77);
    border-radius: 8px;
    flex: 1;
    margin-right: 2px;
    color: #FFFFFF;
    padding: 4px;
  }


  .sliderButton {
    background-color: wheat;
  }

  .slider-wrapper{
    height: 500px;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
    display: flex!important;
    background-color: aqua;
  }

  .sliderImage{
    width: 100%;
    height: 500px;
  }

  .arrow{
    height: 100%;
    width: calc((100% - 1000px) / 2);
    background: rgba(241, 245, 248, 0.4);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 50;
    font-size: 26px;
    color: #FFFFFF;
  }


  /*ランキングエリア*/
  .rankingContainer{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .rankingTitle {
    position: relative;
    display: inline-block;
    padding: 0 100px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .rankingTitle:before, .rankingTitle:after{
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 80px;
    height: 1px;
    background-color: black;
  }


  .rankingTitle:before {left:0;}
  .rankingTitle:after {right: 0;}


  .rankTagArea{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   margin-top: 40px;
 }

/*.rankTag{
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
}
*/

.rankTag{
  position: relative;
  padding: 0.5em 1.4em;
  text-decoration: none;
  border: 1px solid rgb(244,244,244);
  border-radius: 100px;
  background: #FFFFFF;/*ボタン色*/
  border-bottom: solid 3px rgb(220,220,220);/*ボタン色より暗めに*/
  border-right: solid 3px rgb(220,220,220);/*ボタン色より暗めに*/
  border-radius: 100px;
  margin-right: 2%;
  display: flex;
  align-items: center;
}

/*.rankTag:before{
    content: " ";
    position: absolute;
    bottom: -5px;
    left: -1px;
    width: 0;
    height: 0;
    border-width: 0 6px 6px 0px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #FFF;
    }*/

/*.rankTag:after{
    content: " ";
    position: absolute;
    top: -1px;
    right: -5px;
    width: 0;
    height: 0;

    border-style: solid;
    border-color: #FFF;
    border-bottom-color: transparent;
    }*/

    .rankTag:active{ /*ボタンを押したとき*/
      border:none;
      -ms-transform: translate(2px,2px);
      -webkit-transform: translate(2px,2px);
      transform: translate(2px,2px);
    }

    .rankTag:active:after,.rankTag:active:before {
      content: none;/*ボタンを押すと線が消える*/
    }

    .rankList{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 40px 0;
      overflow-x: auto;
      white-space: nowrap;
    }

    .rankText{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2px;
    }
    .rank{
      font-family: HiraginoSans-W6;
      font-size: 13px;
      color: #273248;
      letter-spacing: -0.08px;
    }
    .cupImage{
      width: 20px;
    }

    .rankImageFrame{
      height: 160px;
      width: 160px;
      border: 1px solid #979797;
      padding: 10px;
    }



    .main{
      background-color: #EEEFF0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .contentList{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 1005px;

/*ul li {
     -webkit-flex-grow: 1;
    flex-grow: 1;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }　*/
  }

  .contentWrapper{
    height: 245px;
    width: 320px;
    background-color: #FFFFFF;
    position: relative;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
  }

  .mainContent{
    height: 300px;
    position: relative;
  }

  .contentImageFrame{
    width: 150px;
    height: 150px;
    position: absolute;
  }



  .newContent{
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top: 30px solid #FF4C02;
    border-left: 30px solid #FF4C02;
    position: absolute;
  }

  .contentImageFrame>span{
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: 3px;
    z-index: 3;
    color: #FFFFFF;
  }
  .contentImg{
    width: 100%;
    height: 100%;
  }
  .score{
    height: 85px;
    width: 150px;
    position: absolute;
    top: 160px;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #283245;
    text-align: left;
    display: flex;
  }

  .score>p{
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
  }
  .score>.gameScoreFont{
   color: chartreuse;
 }
 .score>.bigFont{
   color: #CC331A;
 }
 .score>.regFont{
   color: #D58B34;
 }

 .article{
  height: 75%;
  width: 49%;
  position: absolute;
  top: 3.5px;
  right: 7px;
  text-align: left;
  color: #8C99AB;
}
.rateArea{

}
.rateIconContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7%;
}
.doubleTag{
  font-size: 10px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4px;
}
.doubleTag>span{
  background-color: #767778;
  /* font-size: 12px; */
  border-radius: 2px;
  padding: 2px 3px;
  /* margin-left: 1%; */
  color: #FFFFFF;
  /* width: 100%; */
  /* height: 100%; */
  white-space: nowrap;
}

.gameId{
  margin-top: 3px;
}
.gameImage{
  margin-right: 2px;
  width:20px;
}
.gameFont>span{
  font-size: 12px;
}
.active{
  background-color: #E25627;
  color: #FFFFFF;
}

.mainTag {
  font-size: 12px;
  color: #FFFFFF;
  height: 50px;
}
.mainTag>div{
  margin: 6px 0;
}
.mainTag>div>span{
 border-radius: 2px;
 padding: 2px 1px;
 margin-right: 1px;
 margin-left: 1px;
 width: 100%;
 height: 100%;
 background-color: rgba(118, 119, 120, 0.77);
}

.playButtonArea{
  height: 100px;
  background-color: rgb(241,245,248);
  bottom: 0;
  position: absolute;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}



.playButton{
  background: #5176B1;
  border-radius: 4px;
  height: 30px;
  width: 49%;
  position: absolute;
  right: 7px;
  top: 214px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}



.playButton>.circleIcon{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  margin-right: 5px;
}
.circleIcon>span{
  color: #5176B1;
  font-weight: 900;
}


footer{
  background-color: #283245;
  height: 180px;
  color: #FFFFFF;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin-top: 30px;

}


.footer>.menu{
  padding: 0 4.1%;
}

footer>span{
  color: rgba(255, 255, 255, 0.61);
  font-size: 10px;
  position: absolute;
  bottom: 0;
  margin-bottom: 8px;
}


/*トップへ戻るボタン*/
.page-top {
  font-size: 20px;
  color: #FFFFFF;
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  height: 90px;
  width: 100px;
  background-color: #222A3B;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
}
 /*   .page-top .fade-in {
      font-size: 60px;
      opacity: 0.6;
      transition: opacity 1s;
      }*/




      @keyframes App-logo-spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
      }
