

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}
#all{
  display: none;
  position: fixed;
  z-index: 99;
  height: 100px;
  top: 0;
  width: 100%;
  opacity: 0;
  left: 0;
}
/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 100px;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
  background-color: #283245;
  display: flex;
  flex-direction: column;
}


/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #all {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}



/*中身*/
#searchNav-content {
  overflow: auto;
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  transform: translateX(105%);/*左に隠しておく*/
  background-color: #283245;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

/*チェックが入ったらもろもろ表示*/
#searchNav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}
/*チェックが入ったらもろもろ表示*/
#searchNav-input:checked ~ #all {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#searchNav-input:checked ~ #searchNav-content {
  transform: translateX(0%);/*中身を表示（左へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

