.dropmenu{
  position: absolute;
  left: 0;
  width: 81%;
  top: 42px;
  list-style: none;
  text-align: left;
  background-color: #283245;
  margin: 0;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}

ul.dropmenu li {
 position: relative;

}

ul.dropmenu li:before{
  content: '>'; /* 自由！ */
  display: block;
  position: absolute;
  top:0;
  left: -16px;
}


ul.dropmenu li a{
  text-decoration: none;
  color: #FFFFFF;
}

.endMenu:hover .dropmenu{
 visibility: visible;
 opacity: 0.8;
}

.menu a {
  text-decoration: none;
  color: #FFFFFF;
}