   @media (max-width: 768px) {
    .fixed{
      position: fixed;
    }
    .header{
     width: 100%;
     position: fixed;
     display: flex;
     justify-content: space-around;
     height: 60px;
     align-items: center;
     top: 0;
     background-color: white;
     z-index: 1000;
     margin-top: 40px;
   }

   .arrow{
    width: 15%;
  }
  .spMenuBar{
    list-style: none;
    text-align: left;
    padding: 0;
    color: #ffffff;
  }
  .listMenu{
    text-align: center;
  }
  .spMenu{
    border-bottom: 1px solid;
    padding: 10px;
  }
  .spMenu>a{
    color: #FFFFFF;
    text-decoration: none;
  }

  .nav-drawer{
    width: 20px;
    height: 20px;
  }

  .slider-wrapper{
    margin-top: 100px;
    height: 300px;
    margin-bottom: 0;
  }
  .sliderImage{
    height: 300px;
  }

  .tagContainer{
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #EEEFF0;
  }
  .tagMenuContainer{
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .tagLine{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

  }
  .tagLine>span{
    background-color: #9A9B9C;
    font-size: 12px;
    border-radius: 2px;
    padding: 5px 15px;
    margin-right: 1px;
    margin-left: 1px;
    color: #FFFFFF;
  }

  .rankTagArea{
    justify-content: space-around;
    margin: 0;
  }

  .rankingContainer{
   width: 100%;
 }
 .rankingTitle{
  padding: 0 20%;
}
.rankingTitle:before, .rankingTitle:after{
  width: 20%;
}
.rankTag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  border: 1px solid rgb(244,244,244);
  border-radius: 7%;
  border-bottom: solid 1.5px rgb(220,220,220);
  border-right: solid 1.5px rgb(220,220,220);
  padding: 0;
  width: 30%;
  margin: 0;
  height: 85px;
}
.lamp{
  width: 15px;
}
.rankImage{
  padding: 5px;
}

/*.contentWrapper{
  width: 100%;
  }*/
  .contentList{
    width: 97%;
    justify-content: center;
  }
  .contentImageFrame {
    width: 140px;
    height: 140px;
  }
  .score {
    width: 140px;
  }
  .article>span{
    font-size: 2.4vw;
  }
  .playButton {
    width: 48%;
  }


/*.spSearchContainer{
  width: 100%;
  }*/

  .spSearchBar{
   border-radius: 8px;
   background-color: white;
   height: 35px;
   width: 96%;
   margin-left: auto;
   margin-right: auto;
 }
 .spSerchTitle{
  text-align: left;
  margin-left: 15px;
}
.empty{
  margin-bottom: 20px;
  display: flex;
  margin-top: 10px;
}
.empty>.checkButton{
 display: inline-block;
 width: 22px;
 height: 22px;
 -ms-transform: rotate(45deg);
 -webkit-transform: rotate(45deg);
 transform: rotate(45deg);
 background-color: white;
 border-radius: 50%;
 margin-left: 5px;
}
.empty>.isChecked{
  background-color: #eb5b2a;
}

.checkmark_stem {
  position: absolute;
  width:3px;
  height:9px;
  background-color:#fff;
  left:11px;
  top:6px;
}

.checkmark_kick {
  position: absolute;
  width:3px;
  height:3px;
  background-color:#fff;
  left:8px;
  top:12px;
}

.spSearchContainer>input{
  border-radius: 8px;
  background-color: white;
  height: 35px;
  width: 90%;
  padding-left: 10px;
}
.spSearchContainer>select{
  border-radius: 8px;
  background-color: white;
  height: 40px;
  width: 90%;
  padding-left: 10px;
}


.spSearchButton{
 border-radius: 8px;
 background-color: #EB5B29;
 height: 40px;
 margin: auto;
 width: 80%;
 margin-top: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.spSearchButton>img{
  width:20px;
  margin-left: 10px;
}

.footer{
  width: 100%;
}
.footer>.menu{
  padding: 0 1.1%;
  font-size: 12px;
}
}

